body{
   background: rgb(21, 1, 43);
   font-family: "Inter",sans-serif;
   color: rgb(11, 11, 11);
   padding: 2rem;
}

*:focus {
   outline: none;
}

main{
   max-width: 780px;
   margin: 0 auto;
}

.conteiner-master{
   background-color:white;
   padding: 2rem;
   border-radius: 10px;
   
}

.hero{
   text-align: center;
   padding-bottom: 3rem;
}

.hero .title{
   font-size: 2rem;
   font-weight: bold;
   padding: 1.5rem;
   color: rgb(100, 105, 109);
}

.hero .subtitle{
   font-size: 1.125rem;
   color: rgb(100, 105, 109);

}

.box {
   background: white;
   box-shadow: 0 1px 2px rgba(132,148,165,0.1);
   border-radius: 8px;
   margin-bottom: 3rem;
   color: rgb(100, 105, 109);;
}

.box .password{
   display: flex;
   align-items: center;
   padding: 1rem 1.5rem;
}

.box .password .text {
   flex: 1;
}

.box .password .text input {
   font-family: "Inconsolata",serif;
   font-size: 3rem;
   border: none;
   outline: none;
   cursor: default;
   height: 52px;
   width: 100%;
   transition: all 0.2s;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.box .password .actions button{
   background-color: transparent;
   border: none;
   cursor: pointer;
   opacity: 0.7;
   transition: opacity 0.2s;
   
}

.box .password .text input.font-sm{
   font-size: 3.3rem;
}
.box .password .text input.font-xs{
   font-size: 3.3rem;
}
.box .password .text input.font-xxs{
   font-size: 3.4rem;
}

.box .password .actions .renew{
   transition: filter 0.3s ease;
}

.box .password .actions .renew:hover{
   filter: brightness(50%);
}

.box .password .actions .copy{
   transition: filter 0.3s ease;
}

.box .password .actions .copy:hover{
   filter: brightness(50%);
}

.zoom-effect {
   transition: transform 0.3s ease;
   cursor: pointer;
 }
 
 .zoomed {
   transform: scale(1.2);
 }

#rotating-image {
   transition: transform 1s ease;
   cursor: pointer;
 }

.security-indicator{
   height: 10px;
   background-color: #918d8d;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius:8px ;
}

.security-indicator .bar {
   height: 10px;
   border-top-right-radius: 8px;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;

   transition: all 0.2s;
}

.security-indicator .bar.completed{
   border-top-right-radius: 0;
}
.security-indicator .bar.critical{
   background-color: red;
}
.security-indicator .bar.warning{
   background-color: yellow;
}
.security-indicator .bar.save{
   background-color: green;
}

.customize{
   padding: 1rem 1.5rem ;
}

.customize .title {
   border-bottom: 1px solid #7e7e7e;
   font-size: 1.75rem;
   font-weight: bold;
   margin-bottom: 2rem;
   padding-bottom: 0.75rem;
}

.customize .actions {
   display: flex;
   gap: 3rem;
   color: #828282;
}

.customize .password-length {
   flex: 1;
}

.customize .password-length .slider {
   appearance: none;
   -webkit-appearance: none;
   height: 10px;
   background: #858585;
   outline: none;
   border-radius: 8px;
   width: 100%;
   opacity: 0.6;
   transition: opacity 0.2s;
   margin-top: 1rem;
}

.customize .password-length .slider:hover {
   opacity: 1;
}

.customize .password-length .slider::-webkit-slider-thumb{
   -webkit-appearance: none;
   appearance: none;
   width: 25px;
   height: 25px;
   border-radius: 25px;
   background: #9b51e0;
   cursor: pointer;
}

.customize .password-length .slider::-moz-range-thumb{
   width: 25px;
   height: 25px;
   border-radius: 25px;
   background: #9b51e0;
   cursor: pointer;
}

.checkbox-conteiner {
   display: block;
   position: relative;
   padding-left: 2rem;
   margin-bottom: 1rem;
   cursor: pointer;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.checkbox-conteiner input{
   position: absolute;
   height: 0;
   width: 0;
   opacity: 0;
   cursor: pointer;
}

.checkbox-conteiner .checkmark{
   position: absolute ;
   top: 0;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: #bdbdbd;
   transition: all 0.2s;
}

.checkbox-conteiner:hover input ~ .checkmark{
   background-color:#bdbdbd ;
}

.checkbox-conteiner input:checked ~ .checkmark{
   background-color: #9b51e0;
}

.checkbox-conteiner .checkmark:after {
   content: "";
   display: none;
   position: absolute;
   left: 9px;
   top: 5px;
   width: 5px;
   height: 13px;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}

.checkbox-conteiner input:checked ~ .checkmark:after{
   display: block;
}

.submit{
   text-align: center;
}

.submit button{
   background-color: #a671d7;
   font-size: 1.375rem;
   color: white;
   border: none;
   border-radius: 8px;
   padding: 1rem 2rem;
   transition: all 0.2s;
}

.submit button:hover{
   background-color: #9b51e0;
}

.copy-2{
   transition: transform 0.3s ease;
   cursor: pointer;
}

.copyZomm {
   transform: scale(1.1);
 }

@media only screen and (max-width:480px){
   .box .password{
      padding: 1rem;
   }
   .box .password .text input{
      font-size: 2.2rem;
   }
   .box .password .text input.font-sm{
      font-size: 1.6rem;
   }
   .box .password .text input.font-xs{
      font-size: 1.1rem;
   }
   .box .password .text input.font-xxs{
      font-size: 1rem;
   }
   .box .password .actions img{
      width: 24px;
   }
   

}